footer{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    align-items: center;
    // background-color: lightgrey;
    margin-bottom: 100px;
    box-shadow: 0 -5px 10px lightgrey;
    .footer-icons{
        display: flex;
        gap: 20px;
        i{
            font-size: 35px;
            color: #21243D;
            cursor: pointer;
            transition: 0.5s;
            &:hover{
                color: #41456d;
                scale: 1.2;
            }
        }
        p{
            font-size: 16px;
            color: grey;
        }
    }
}