.reyting{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
    // padding: 5%;
    .reyting-img{
        padding-top: 5%;
        img{
            border-radius: 30px;
            width: 100%;
        }
    }
    .reyting-text{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        h2{
            font-size: 42px;
            color: #0F1F1C;
        }
        .reyting-text__alpanasap{
            display: flex;
            gap: 5%;
            .reyting-text__alpimg{
                background-color: #FF584E;
                border-radius: 100px;
                align-items: center;
                img{
                    width: 100%;
                    height: 95%;
                }
            }
            .reyting-text__alptext{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 5%;
                align-items: center;
                h4{
                    font-size: 33px;
                    color: #0F1F1C;
                }
                p{
                    font-size: 25px;
                    color: #0F1F1C;
                }
            }
        }
        p{
            font-size: 22px;
            color: #0F1F1C;
        }
        .reyting-text__icon{
            i{
                font-size: 50px;
            }
            .star-gold{
                color: gold;
            }
            .star-white{
                color: #C4C4C4;
            }
        }
    }
}
@media (min-width: 1300px){
    .reyting{
        .reyting-img{
            padding: 6%;
        }
    }
}
@media (max-width: 1024px){
    .reyting{
        .reyting-text{
            h2{
                font-size: 36px;
            }
            p{
                font-size: 16px;
            }
            .reyting-text__alpanasap{
                .reyting-text__alpimg{
                    height: 100px;
                }
                .reyting-text__alptext{
                    h4{
                        font-size: 26px;
                    }
                    p{
                        font-size: 20px;
                    }
                }
            }
            .reyting-text__icon{
                i{
                    font-size: 25px;
                }
            }
        }
    }
}
@media (max-width: 768px){
    .reyting{
        grid-template-columns: repeat(1, 1fr);
        .reyting-text{
            gap: 20px;
            h2{
                font-size: 28px;
            }
            p{
                font-size: 14px;
            }
            .reyting-text__alpanasap{
                .reyting-text__alpimg{
                    height: 100px;
                }
                .reyting-text__alptext{
                    h4{
                        font-size: 23px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }
            .reyting-text__icon{
                i{
                    font-size: 20px;
                }
            }
        }
    }
}