.works{
    width: 100%;
    // height: 100vh;
    align-items: center;
    text-align: center;
    color: #21243D;
    .works-info{
        padding: 50px 0;
        font-size: 48px;
        text-align: center;
    }
    .work-boxes{
        width: 100%;
        display: flex;
        flex-direction: column;
        // gap: 20px;
        .work-line{
            // padding: 10px 0;
            margin: 50px auto;
            width: 100%;
            height: 0;
            // background-color: lightgrey;
            border-bottom: 3px solid lightgrey;
        }
        .work-box{
            display: flex;
            .work-img{
                width: 20%;
                img{
                    width: 100%;
                }
            }
            .work-info{
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: start;
                padding: 20px;
                h1{
                    font-size: 35px;
                }
                .work-info__year{
                    display: flex;
                    gap: 30px;
                    align-items: center;
                    h2{
                        padding: 10px 40px;
                        border-radius: 30px;
                        background-color: darkblue;
                        color: white;
                        font-size: 22px;
                    }
                    p{
                        font-size: 20px;
                        color: grey;
                    }
                }
                .work-info__bottom{
                    font-size: 20px;
                }
            }
        }
    }
}

@media (max-width:1300px){
    .works{
        .work-boxes{
            .work-box{
                .work-info{
                    h1{
                        font-size: 28px;
                    }
                    .work-info__year{
                        h2{
                            font-size: 18px;
                            padding: 5px 25px;
                        }
                        p{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:1200px){
    .works{
        .work-boxes{
            .work-box{
                .work-img{
                    width: 35%;
                }
                .work-info{
                    width: 65%;
                    h1{
                        font-size: 20px;
                    }
                    .work-info__year{
                        h2{
                            font-size: 14px;
                            padding: 5px 25px;
                        }
                        p{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:800px){
    .works{
        .works-info{
            font-size: 26px;
            padding: 25px 0;
        }
        .work-boxes{
            .work-box{
                flex-direction: column;
                align-items: center;
                text-align: center;
                .work-img{
                    width: 100%;
                }
                .work-info{
                    width: 100%;
                    gap: 15px;
                    h1{
                        font-size: 20px;
                    }
                    .work-info__year{
                        h2{
                            font-size: 14px;
                            padding: 5px 25px;
                        }
                        p{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}
